<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>HelloWorld Application</display-name>
	<description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
	<servlet>
		<servlet-name>PyServlet</servlet-name>
		<servlet-class>org.python.util.PyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PyServlet</servlet-name>
		<url-pattern>*.py</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PythonServlet01</servlet-name>
		<servlet-class>com.sapint.jython.PythonServlet01</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PythonServlet01</servlet-name>
		<url-pattern>/PythonServlet01</url-pattern>
	</servlet-mapping>

</web-app>     